{% extends 'sacco/base.html' %}

{% block title %}Edit Savings{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-4">Edit Savings Transaction</h2>
            <div class="card">
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-success">Update Savings</button>
                            <a href="{% url 'sacco:savings_list' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
